node_modules/
dist/

/packages/lib/coverage/
/packages/lib/api-docs/
/packages/lib/README.md
/packages/lib/LICENSE
/packages/lib/CHANGELOG.md

/apps/site/.docusaurus/
/apps/site/build/
/apps/site/copy-to-build/
/apps/site/static/api/

.yarn/
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
