node_modules/
dist/

/packages/lib/coverage/
/packages/lib/README.md
/packages/lib/LICENSE
/packages/lib/CHANGELOG.md

/packages/site/.docusaurus/
/packages/site/build/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
