redirects = [
  {from = "/public/api/*", to = "/public/api/:splat"},
  {from = "/*", to = "/", status = 200}
]

[build]
  command = "pnpm build-netlify"
  publish = "apps/site/build"
  environment = { NODE_VERSION = "24.3.0", PNPM_VERSION = "10.28.2" }

[dev]
  publish = "apps/site/build"
  port = 3333
