name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NODE_VERSION: "24.3.0"

jobs:
  lib-site-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm site:build

  lib-test:
    name: lib-test (${{ matrix.compiler }} - mobx${{ matrix.mobx-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compiler:
          - tsc
          - tsc-experimental-decorators
          - babel
          - swc
        mobx-version:
          - 6
          - 5
          - 4

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm lib:test:ci
        env:
          COMPILER: ${{ matrix.compiler }}
          MOBX_VERSION: ${{ matrix.mobx-version }}

      - uses: codecov/codecov-action@v5
        name: Upload codecov report
        if: matrix.compiler == 'tsc' && matrix.mobx-version == '6'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/lib/coverage
          fail_ci_if_error: true

  yjs-lib-test:
    name: yjs-lib-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm yjs-lib:test:ci

  loro-lib-test:
    name: loro-lib-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm loro-lib:test:ci

  benchmark-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm lib:build
      - run: pnpm build
        working-directory: ./apps/benchmark
