name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lib-site-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-workspace
      - run: pnpm site:build

  lib-test:
    name: lib-test (${{ matrix.compiler }} - mobx${{ matrix.mobx-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compiler:
          - tsc
          - tsc-experimental-decorators
          - babel
          - swc
        mobx-version:
          - 6
          - 5
          - 4

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-workspace
      - run: pnpm lib:test:ci
        env:
          COMPILER: ${{ matrix.compiler }}
          MOBX_VERSION: ${{ matrix.mobx-version }}

      - uses: codecov/codecov-action@v5
        name: Upload codecov report
        if: matrix.compiler == 'tsc' && matrix.mobx-version == '6'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/lib/coverage
          fail_ci_if_error: true

  integration-lib-test:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: yjs-lib-test
            script: yjs-lib:test:ci
          - name: loro-lib-test
            script: loro-lib:test:ci

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-workspace
      - run: pnpm ${{ matrix.script }}

  benchmark-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-workspace
      - run: pnpm lib:build
      - run: pnpm build
        working-directory: ./apps/benchmark
