name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NODE_VERSION: "16"

jobs:
  lib-site-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache .yarn/cache
        uses: actions/cache@v2
        with:
          path: .yarn/cache
          key: v3-${{ runner.os }}-yarn_cache
          restore-keys: |
            v3-${{ runner.os }}-

      - run: yarn install --immutable
      - run: yarn lib:build && yarn lib:build-docs && yarn site:build

  lib-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        mobx-version:
          - 6
          - 5
          # TODO: add "4", but right now the test suite runs forever
    env:
      MOBX_VERSION: ${{ matrix.mobx-version }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache .yarn/cache
        uses: actions/cache@v2
        with:
          path: .yarn/cache
          key: v3-${{ runner.os }}-yarn_cache
          restore-keys: |
            v3-${{ runner.os }}-

      - run: yarn install --immutable
      - run: yarn lib:test -i --coverage && yarn codecov -p ./packages/lib

  formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache .yarn/cache
        uses: actions/cache@v2
        with:
          path: .yarn/cache
          key: v3-${{ runner.os }}-yarn_cache
          restore-keys: |
            v3-${{ runner.os }}-

      - run: yarn install --immutable
      - run: yarn prettier --check .
